.ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}
.ql-font span[data-label="Times New Roman"]::before {
  font-family: "Times New Roman";
}
.ql-font span[data-label="Georgia"]::before {
  font-family: "Georgia";
}
.ql-font span[data-label="Helvetica"]::before {
  font-family: "Helvetica";
}
.ql-font span[data-label="Verdana"]::before {
  font-family: "Verdana";
}
.ql-font span[data-label="Courier New"]::before {
  font-family: "Courier New";
}

.ql-font-Arial {
  font-family: "Arial";
}
.ql-font-Times-New-Roman {
  font-family: "Times New Roman";
}
.ql-font-Georgia {
  font-family: "Georgia";
}
.ql-font-Helvetica {
  font-family: "Helvetica";
}
.ql-font-Verdana {
  font-family: "Verdana";
}
.ql-font-Courier-New {
  font-family: "Courier New";
}